header {
  margin: 0;
}

.head {
  height: 600px;
  width: 100%;
  background-image: url("../images/cardboard.png");
  background-color: lightslategray;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
}

@media screen  and (min-width: 1024px) {
 .head {
    height: 400px;
    width: 30%;
    float: left;
    margin: 150px 0px 0px 30px;
    position: fixed;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
  }
}